/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-v9-latin-200.eot"); /* IE9 Compat Modes */
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"),
    url("../fonts/poppins-v9-latin-200.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v9-latin-200.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v9-latin-200.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v9-latin-200.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v9-latin-200.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v9-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"),
    url("../fonts/poppins-v9-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v9-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v9-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v9-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v9-latin-300.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../fonts/poppins-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v9-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v9-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/poppins-v9-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v9-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../fonts/poppins-v9-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v9-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v9-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v9-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v9-latin-500.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v9-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../fonts/poppins-v9-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v9-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v9-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v9-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v9-latin-700.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

/* colors */
:root {
  --logo-color: #282e2e;
  --bold-font-color: #282e2e;
  --main-font-color: #707070;
  --sublinks: #707070;
  --secondary-font-color: #9a9a9a;
  --leading-font-color: #30ba8a;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  text-decoration: none !important;
}
/* font set */

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/girlface.png);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: right bottom;
  overflow: hidden;
  position: relative;
}
/* Navigation bar */
header .navbar {
  padding: 0;
  /* background: pink; */
}
header .navbar.navbar-light .navbar-brand {
  font-size: 35px;
  font-weight: 700;
  color: var(--logo-color);
}
/* #collapsibleNavbar.collapse.navbar-collapse {
  height: 100% !important;
} */
header .navbar #collapsibleNavbar .nav-item {
  margin-right: 30px;
  margin-top: 0;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .navbar #collapsibleNavbar .nav-item span.active {
  opacity: 0;
  transition: opacity 700ms;
}
header .navbar #collapsibleNavbar .nav-item.active span.active {
  opacity: 1;
}
header .navbar #collapsibleNavbar .nav-item:hover > span {
  opacity: 1;
}
header .navbar #collapsibleNavbar .nav-item span.active {
  height: 8px;
  position: relative;
  top: -8px;
  width: 100%;
  background-color: var(--leading-font-color);
}
header .navbar #collapsibleNavbar .nav-item .nav-link {
  color: var(--sublinks);
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 0 !important;
}
header .navbar #collapsibleNavbar .nav-item.active .nav-link {
  /* border-top: 8px solid var(--leading-font-color); */
  color: var(--leading-font-color);
}

/* intro content */
.hero {
  height: 100vh;
}
.hero-content {
  height: 100%;
  position: relative;
}
.content-wrap {
  position: absolute;
  width: 100%;
  top: 25%;
}
.hero-content p {
  color: var(--secondary-font-color);
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 30px;
}
.hero-content h1 {
  font-size: 65px;
  font-weight: bold;
  word-spacing: 20px;
}
.hero-content h1 span {
  font-size: 65px;
  font-weight: normal;
}
.content-wrap .skills {
  margin-top: 25px;
  text-transform: uppercase;
  color: var(--secondary-font-color);
}
.content-wrap .skill {
  display: inline-block;
  margin-left: 10px;
}
.content-wrap .skills .seperator {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--secondary-font-color);
  border-radius: 20px;
  margin: 0 20px;
}

header .social-handle {
  position: absolute;
  display: flex;
  width: 200px;
  justify-content: space-between;
  bottom: 0;
  font-size: 20px;
  font-weight: bold;
}
header .social-handle a {
  color: var(--bold-font-color);
}

/* About Section */
section.about {
  padding: 120px 0 80px;
  height: 100vh;
}
section.about .img-wrap {
  margin: auto;
  position: relative;
}
section.about .img-wrap img {
  width: 100%;
  max-width: 350px;
  border: 1px solid var(--bold-font-color);
  position: relative;
  padding: 10px 40px 0 0;
  display: block;
}
.about-content h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  position: relative;
  margin-left: 10px;
}
.about-content::before {
  content: "";
  position: absolute;
  height: 10%;
  width: 3px;
  background-color: var(--leading-font-color);
}
.about-content h1 {
  color: var(--leading-font-color);
  font-weight: normal;
  font-size: 35px;
  margin-bottom: 70px;
}
.about-content p {
  line-height: 25px;
  margin-bottom: 40px;
  width: 80%;
}

.about-content a.btn {
  background-color: #fff;
  color: var(--main-font-color);
  border-radius: 0;
  color: var(--bold-font-color);
  border: 1px solid var(--bold-font-color);
  padding: 10px;
  width: 180px;
}
.about-content a.btn i {
  margin-right: 10px;
}
/* 1440 hack */
@media screen and (max-width: 1440px) and (min-width: 1350px) {
  header {
    height: 100vh;
    background-position: right bottom;
    background-size: 550px;
  }
  section.about {
    padding: 200px 0 80px;
  }
}
/* header mobile */
@media screen and (max-width: 360px) {
  header {
    height: 100vh;
    background-size: 200px;
  }
  .social-handle {
    flex-direction: column;
  }
  .content-wrap .skill {
    display: block;
  }
  .content-wrap .skills .seperator {
    display: none;
  }
}
